.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @apply mx-48
}
.project {
    @apply 
    w-1/3
    mx-8 my-6
    max-w-sm
    flex
    flex-col
    items-center
}
.project-title {
    display: flex;
    justify-content: center;
}