* {
    margin: 0;
    padding: 0;
}

.button-wrapper {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.hide {
    opacity: 0;
    pointer-events: none;
}
.show {
    opacity: 1;
    pointer-events: auto;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
  
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

