@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 8, 20, 38;
  --background-start-rgb: 8, 20, 38;
  --background-end-rgb: 8, 20, 38;
  --text-rgb-primary: 169, 162, 151;
  --text-rgb-secondary: 96, 255, 217;
  --shadow-primary: 0, 144, 118;
  --border-primary: 0, 149, 113;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.shadow {
  outline: none;
  box-shadow: 4px 4px 0 0 var(--shadow-primary);
    transform: translate(-5px, -5px);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
