@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 8, 20, 38;
  --text-rgb-primary: 169, 162, 151;
  --text-rgb-secondary: 96, 255, 217;
  --shadow-primary: 0, 144, 118;
  --border-primary: 0, 149, 113;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 8, 20, 38;
  }
}

body {
  color: rgb(var(--text-rgb-primary));
  background: rgb(var(--background-rgb))
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow {
  outline: none;
  box-shadow: 4px 4px 0 0 var(--shadow-primary);
    transform: translate(-5px, -5px);
}